*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: unset;
}

button {
  cursor: pointer;
}
