.score {
  color: var(--background-accent-color);
}
.score.score-1 :nth-child(-n + 1) {
  color: var(--primary-color);
}
.score.score-2 :nth-child(-n + 2) {
  color: var(--primary-color);
}
.score.score-3 :nth-child(-n + 3) {
  color: var(--primary-color);
}
.score.score-4 :nth-child(-n + 4) {
  color: var(--primary-color);
}
.score.score-5 {
  color: var(--primary-color);
}
